<ion-header>
  <ion-toolbar>
    <ion-title>Mes informations</ion-title>
    <ion-buttons (click)="closeModal()" slot="end">
        <ion-icon name="close" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-buttons>
                <ion-icon name="finger-print" size="large"></ion-icon>
            </ion-buttons>
            <ion-label>
                <h2> Arthur MICHEL</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-icon name="walk" size="large"></ion-icon>
            </ion-buttons>
            <ion-label>
                <h2> 23 ans</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-icon name="mail" size="large"></ion-icon>
            </ion-buttons>
            <ion-label>
                <h2> <a href="mailto:contact@arthurmichel.com">contact@arthurmichel.com</a></h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-icon name="phone-portrait" size="large"></ion-icon>
            </ion-buttons>
            <ion-label>
                <h2> 06 24 18 94 94</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-icon name="business" size="large"></ion-icon>
            </ion-buttons>
            <ion-label>
                <h2> 4 avenue Francis Bouet, 49300 Cholet</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-icon name="car" size="large"></ion-icon>
            </ion-buttons>
            <ion-label>
                <h2> Permis B & véhicule</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
