<ion-header>
  <ion-toolbar>
    <ion-title>Informations</ion-title>
    <ion-buttons (click)="closeModal()" slot="end">
        <ion-icon name="close" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <p class="ion-text-wrap">
            Pour la réalisation de ce site vitrine j'ai utilisé Ionic et Angular.
        </p>
        <p class="ion-text-wrap">
            J'ai également utilisé des ressources en provenance d'icons8 pour l'habillage.
            <a href="https://icones8.fr/ouch" target="_blank">https://icones8.fr/ouch</a>
        </p>
    </div>
</ion-content>
