<ion-menu side="start" menuId="menu" contentId="content">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item (click)="scrollToElement(informations)">
                <ion-icon name="help" slot="start" size="large"></ion-icon>
                <ion-label>Qui suis-je ?</ion-label>
            </ion-item>
            <ion-item (click)="scrollToElement(competences)">
                <ion-icon name="filing" slot="start" size="large"></ion-icon>
                <ion-label>Mes Compétences</ion-label>
            </ion-item>
            <ion-item (click)="scrollToElement(experiences)">
                <ion-icon name="build" slot="start" size="large"></ion-icon>
                <ion-label>Mes experiences</ion-label>
            </ion-item>
            <ion-item (click)="scrollToElement(parcours)">
                <ion-icon name="paper" slot="start" size="large"></ion-icon>
                <ion-label>Mon parcours</ion-label>
            </ion-item>
            <ion-item (click)="scrollToElement(passions)">
                <ion-icon name="thumbs-up" slot="start" size="large"></ion-icon>
                <ion-label>Mes passions</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<div id="content" class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-icon (click)="openMenu()" name="menu" size="large"></ion-icon>
            </ion-buttons>
            <ion-title>
                Arthur MICHEL
            </ion-title>
            <ion-buttons slot="end">
                <a href="assets/CV_Arthur_MICHEL.pdf" download>
                    <ion-icon name="download" size="large"></ion-icon>
                </a>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content id="content">
        <div class="ion-padding">
            <ion-row>
                <ion-col size-xs="12" size-md="6" size-lg="4">
                    <div #informations>
                        <ion-card id="informations">
                            <img src="assets/photo.jpeg" />
                            <ion-card-header>
                                <ion-card-title>Qui suis-je ?</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <p class="ion-text-wrap">
                                    Curieux, dynamique et enjoué, je me tiens au courant des dernières technologies ainsi que de l'évolution de mon métier.
                                    J'ai à coeur de mettre au service des gens mes connaissances technique pour trouver les solutions qui répondrons à leurs besoins.
                                </p>
                                <ion-list>
                                    <ion-item>
                                        <ion-icon name="finger-print" slot="start"></ion-icon>
                                        <ion-label>
                                            <h2 class="ion-text-wrap">Arthur MICHEL</h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="walk" slot="start"></ion-icon>
                                        <ion-label>
                                            <h2 class="ion-text-wrap">23 ans</h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="mail" slot="start"></ion-icon>
                                        <ion-label>
                                            <h2 class="ion-text-wrap">
                                                <a href="mailto:contact@arthurmichel.com">contact@arthurmichel.com</a>
                                            </h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="keypad" slot="start"></ion-icon>
                                        <ion-label>
                                            <h2 class="ion-text-wrap">06 24 18 94 96</h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="business" slot="start"></ion-icon>
                                        <ion-label>
                                            <h2 class="ion-text-wrap">4 avenue Francis Bouet, 49300 Cholet</h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="car" slot="start"></ion-icon>
                                        <ion-label>
                                            <h2 class="ion-text-wrap">Permis B & véhicule</h2>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>

                <ion-col size-xs="12" size-md="6" size-lg="4">
                    <div #competences>
                        <ion-card id="competences">
                            <img src="assets/library.png" />
                            <ion-card-header>
                                <ion-card-title>Mes compétences</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>
                                    <ion-item>
                                        <ion-label>
                                            <h2>Symfony / PHP</h2>
                                            <ion-progress-bar value="0.8" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>Javascript / jQuery</h2>
                                            <ion-progress-bar value="0.7" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>HTML / CSS</h2>
                                            <ion-progress-bar value="0.9" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>SQL</h2>
                                            <ion-progress-bar value="0.7" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>Angular</h2>
                                            <ion-progress-bar value="0.3" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>Xamarin</h2>
                                            <ion-progress-bar value="0.2" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>Apache</h2>
                                            <ion-progress-bar value="0.4" color="dark"></ion-progress-bar>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <h2>Anglais</h2>
                                            <p class="ion-text-wrap">
                                                Lu, écrit, parlé
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>

                <ion-col size-xs="12" size-md="6" size-lg="4">
                    <div #experiences>
                        <ion-card id="experiences">
                            <img src="assets/shaking-hands.png" />
                            <ion-card-header>
                                <ion-card-title>Mes experiences</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>
                                    <ion-item>
                                        <ion-text slot="start">
                                            2020<br>
                                            2018
                                        </ion-text>
                                        <ion-label>
                                            <h2>Concepteur Développeur</h2>
                                            <h3>Puy du Fou</h3>
                                            <p class="ion-text-wrap">Développement d'applications répondants aux besoins spécifiques
                                                du parc au sein de son équipe informatique.</p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-text slot="start">
                                            2017
                                        </ion-text>
                                        <ion-label>
                                            <h2>Développeur PHP</h2>
                                            <h3>Fives Filling & Sealing</h3>
                                            <p class="ion-text-wrap">Stage de deuxième année de BTS SIO à Fives Filling & Sealing.
                                                Développement de scripts de test en PHP pour les nouvelles mise-à-jour de l’ERP
                                                de l’entreprise. Utilisation de Brackets, PHPUnit ainsi que de Laravel.
                                                Travail au sein du service informatique.</p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-text slot="start">
                                            2016
                                        </ion-text>
                                        <ion-label>
                                            <h2>Développeur web</h2>
                                            <h3>Karnadoo</h3>
                                            <p class="ion-text-wrap">Stage de fin de première année de BTS SIO.
                                                Développement du site internet pour une concession automobile
                                                avec demande de cartes grise. Utilisation d’HTML,
                                                de WAMP Server ainsi que de NotePad++. Travail en autonomie.</p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>

                <ion-col size-xs="12" size-md="6">
                    <div #parcours>
                        <ion-card>
                            <img src="assets/document-flow.png" />
                            <ion-card-header>
                                <ion-card-title>Mon parcours</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>
                                    <ion-item>
                                        <ion-text slot="start">
                                            2020<br>
                                            2018
                                        </ion-text>
                                        <ion-label>
                                            <h2>Titre de CDA</h2>
                                            <h3>ENI Ecole Informatique</h3>
                                            <p class="ion-text-wrap">Formation en alternance, titre de Concepteur Développeur d'Applications</p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-buttons slot="start">
                                            2017
                                        </ion-buttons>
                                        <ion-label>
                                            <h2>BTS SIO option SLAM</h2>
                                            <h3>La Joliverie</h3>
                                            <p class="ion-text-wrap">Obtention du BTS Services Informatiques aux Organisations option Solutions Logicielles et Applications Métier</p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-buttons slot="start">
                                            2015
                                        </ion-buttons>
                                        <ion-label>
                                            <h2>BTSA GPN</h2>
                                            <h3>La Joliverie</h3>
                                            <p class="ion-text-wrap">Première année de BTSA Gestion et Protection de la Nature</p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-buttons slot="start">
                                            2014
                                        </ion-buttons>
                                        <ion-label>
                                            <h2>BAC STL</h2>
                                            <h3>Talensac</h3>
                                            <p class="ion-text-wrap">Obtention du BAC Sciences et Techniques de Laboratoire, mention AB
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>

                <ion-col size-xs="12" size-md="6">
                    <div #passions>
                        <ion-card>
                            <img src="assets/abstract-coffee-break.png" />
                            <ion-card-header>
                                <ion-card-title>Mes passions</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>
                                    <ion-item>
                                        <ion-icon slot="start" name="laptop"></ion-icon>
                                        <ion-label>
                                            <h2>Informatique</h2>
                                            <p class="ion-text-wrap">
                                                Je me tiens informé des nouveautés hardware ainsi que de l'évolution des technologies que j'utilise dans mon travail.
                                                Je réalise également des projets sur mon temps personnel.
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon slot="start" name="logo-game-controller-a"></ion-icon>
                                        <ion-label>
                                            <h2>Jeux-vidéo</h2>
                                            <p class="ion-text-wrap">
                                                Je pratique et suis l'actualité de ce média. Je collectionne également de nombreuses pièces.
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon slot="start" name="musical-note"></ion-icon>
                                        <ion-label>
                                            <h2>Musique</h2>
                                            <p class="ion-text-wrap">
                                                J'écoute et collectionne des vinyles, des cassettes et des CDs.
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>

                <ion-col size-xs="0" size-md="6" size-lg="0" align-self-end>
                    <img end src="assets/ginger-cat-done.png">
                </ion-col>
            </ion-row>
        </div>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <a href="https://www.linkedin.com/in/arthurmichel-developpeur" target="_blank">
                    <ion-icon name="logo-linkedin" size="large"></ion-icon>
                </a>
                <a href="https://github.com/losbqng" target="_blank">
                    <ion-icon name="logo-github" size="large"></ion-icon>
                </a>
            </ion-buttons>
            <ion-buttons (click)="showCoordonnees()" slot="end">
                <ion-icon name="information-circle" size="large"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</div>
